extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content
  .wrapper(style='background-image:url(' + require('images/main-slide.jpg') +');')
    .space
    .block
      section.left
        .container-fluid
          .row
            .col-12.left-col
              h1 Проектирование, строительство и Наладка промышленных котельных
              .left-span на биотопливе
              .left-icons
                .left-icon-block
                  img.left-icon(src=require('images/trash.svg'))
                  .left-icon-text ТБО
                .left-icon-block
                  img.left-icon(src=require('images/wood.svg'))
                  .left-icon-text древесина
                .left-icon-block
                  img.left-icon(src=require('images/torf.svg'))
                  .left-icon-text торф
                .left-icon-block
                  img.left-icon(src=require('images/bedding.svg'))
                  .left-icon-text подстилка
                .left-icon-block
                  img.left-icon(src=require('images/agriculture.svg'))
                  .left-icon-text агрокультуры
      section.right
        .container-fluid
          .row
            .col-12
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
              h1 Проектирование, строительство и Наладка промышленных котельных
