extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content
  .wrapper
    .space#main
    .block
      section.left
        .container-fluid
          .row
            .col-12.left-col.position-relative
              .full
                h1 Проектирование, строительство и Наладка промышленных котельных
                .left-span на биотопливе
                .left-icons
                  .left-icon-block
                    img.left-icon(src=require('images/trash.svg'))
                    .left-icon-text ТБО
                  .left-icon-block
                    img.left-icon(src=require('images/wood.svg'))
                    .left-icon-text древесина
                  .left-icon-block
                    img.left-icon(src=require('images/torf.svg'))
                    .left-icon-text торф
                  .left-icon-block
                    img.left-icon(src=require('images/bedding.svg'))
                    .left-icon-text подстилка
                  .left-icon-block
                    img.left-icon(src=require('images/agriculture.svg'))
                    .left-icon-text агрокультуры
              .half
                h1 Проектирование, строительство и Наладка промышленных котельных на биотопливе
      section.right
        .container-fluid
          .row
            .col-12.right-head#about(name="about")
              .right-title
                h2 О компании
              a.right-mouse(href="#about")
                svg(width='14' height='20' viewBox='0 0 14 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd' clip-rule='evenodd' d='M7 0C3.13401 0 0 3.13401 0 7V13C0 16.866 3.13401 20 7 20C10.866 20 14 16.866 14 13V7C14 3.13401 10.866 0 7 0ZM12 13C12 15.7614 9.76142 18 7 18C4.23858 18 2 15.7614 2 13V7C2 4.23858 4.23858 2 7 2C9.76142 2 12 4.23858 12 7V13ZM6 5.5C6 5.22386 6.22386 5 6.5 5H7.5C7.77614 5 8 5.22386 8 5.5V8.5C8 8.77614 7.77614 9 7.5 9H6.5C6.22386 9 6 8.77614 6 8.5V5.5Z')
            .col-12.right-body
              h3 ООО «ПРОМКОТЛОСЕРВИС»
              p Знакомство с котельными, работающими на биотопливе, началось с 2016 года. Спустя 5 лет, после участия в строительстве пяти объектов со слоевым сжиганием топлива, наладки и доводки четырех котельных установок с камерным сжиганием лузги подсолнечника был основан ПРОМКОТЛОСЕРВИС — организация, специализирующаяся на монтаже и наладке промышленных котельных установок, использующих в качестве топлива БИОМАССУ — отходы лесопереработки (щепа, кора, порубочные остатки), целлюлозно-бумажного производства, сахарного производства, агропромышленного комплекса (подстилка после содержания животных и птиц, солома, лузга, шелуха, жмых и многие другие сельскохозяйственные отходы), ТБО.
              img(src=require('images/001.jpg')).w-100
            .col-12.right-head#service(name="service")
              .right-title
                h2 Услуги
            .col-12.p-0
              .swiper.right-slider
                .swiper-wrapper
                  .swiper-slide
                    img(src=require('images/s-bg-01.jpg')).slide-bg-img
                    .right-slider-text
                      img(src=require('images/s01.png'))
                      h3 Эксплуатационные испытания котельных агрегатов
                      a(href='#' data-bs-toggle="modal" data-bs-target="#exampleModal") Подробнее
                  .swiper-slide
                    img(src=require('images/s-bg-02.jpg')).slide-bg-img
                    .right-slider-text
                      img(src=require('images/s02.png'))
                      h3 Пусконаладочные работы
                      a(href='#') Подробнее
                  .swiper-slide
                    img(src=require('images/s-bg-03.jpg')).slide-bg-img
                    .right-slider-text
                      img(src=require('images/s03.png'))
                      h3 Инженерно-техническое сопровождение ремонтных работ
                      a(href='#') Подробнее
                  .swiper-slide
                    img(src=require('images/s-bg-04.jpg')).slide-bg-img
                    .right-slider-text
                      img(src=require('images/s04.png'))
                      h3 Инженерно-техническое сопровождение монтажных работ
                      a(href='#') Подробнее
                  .swiper-slide
                    img(src=require('images/s-bg-05.jpg')).slide-bg-img
                    .right-slider-text
                      img(src=require('images/s05.png'))
                      h3 Инженерно-техническое сопровождение проектных работ
                      a(href='#') Подробнее
              .slider-footer
                .slider-button-prev
                  svg(width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M1 9H0L0 7H1L1 9ZM21.7071 7.29289C22.0976 7.68342 22.0976 8.31658 21.7071 8.70711L15.3431 15.0711C14.9526 15.4616 14.3195 15.4616 13.9289 15.0711C13.5384 14.6805 13.5384 14.0474 13.9289 13.6569L19.5858 8L13.9289 2.34315C13.5384 1.95262 13.5384 1.31946 13.9289 0.928932C14.3195 0.538408 14.9526 0.538408 15.3431 0.928932L21.7071 7.29289ZM1 7L21 7V9L1 9L1 7Z')
                .slider-button-next
                  svg(width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M1 9H0L0 7H1L1 9ZM21.7071 7.29289C22.0976 7.68342 22.0976 8.31658 21.7071 8.70711L15.3431 15.0711C14.9526 15.4616 14.3195 15.4616 13.9289 15.0711C13.5384 14.6805 13.5384 14.0474 13.9289 13.6569L19.5858 8L13.9289 2.34315C13.5384 1.95262 13.5384 1.31946 13.9289 0.928932C14.3195 0.538408 14.9526 0.538408 15.3431 0.928932L21.7071 7.29289ZM1 7L21 7V9L1 9L1 7Z')
                .slider-pagination
            .col-12.right-head#contact
              .right-title
                h2 Контакты
            .col-12.p-0
              .right-contact-item
                p.b Адрес:
                p 308510, Белгородская обл, Белгородский р-н, пгт Разумное, ул Васнецова, д. 25
              .right-contact-item
                p.b Email:
                p
                  a(href="mailto:info@bel-pks.ru") info@bel-pks.ru
              .right-contact-item
                p.b Телефон:
                p
                  a(href="tel:+74722419923")
                    span +7 4722 41 99 23
                  a(href="tel:+79192899342")
                    span +7 919 289 93 42
              .right-contact-item
                p.b Реквизиты:
                p
                  span ИНН 3123477864
                  span ОГРН 1213100002972
            .col-12.right-head#footer
              .footer
                .text © ООО «ПромКотлоСервис», 2022
                a.text-studio(href="#")
                  | Создание сайта —
                  br
                  |веб-студия «Облако»

  #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-lg.modal-dialog-centered
      .modal-content
        .modal-body
          button.modal-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M5 5L19 19' stroke='white' stroke-width='3')
              path(d='M19 5L5 19' stroke='white' stroke-width='3')
          img(src=require('images/s-bg-01.jpg')).w-100
          h3 Эксплуатационные испытания котельных агрегатов
          p
            |— приемочные испытания котла для проверки расчетных параметров и составления характеристик котла;
            br
            |— балансовые испытания для нахождения дефектов оборудования и изыскания способов их устранения;
            br
            |— балансовые испытания для наладки и выявления наивыгоднейшего режима работы котлоагрегата;
            br
            |— сравнительные эксплуатационные испытания для выявления результатов проведенных рационализаторских мероприятий;
            br
            |— испытания отдельных элементов оборудования.
